# Database
DATABASE_URL="postgresql://neondb_owner:npg_BjKAWOE0F3zd@ep-polished-wildflower-aixilkt4-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Site URL (optional, for production deployment)
NEXT_PUBLIC_SITE_URL="https://studioscreen.vercel.app"

# Admin password (optional, for local development)
ADMIN_PASSWORD="22445"
